@import "../../styles/colours.scss";

.card-plant {
  max-width: 208px;
  width: 100%;
  min-height: 302px;
  padding: 20px 30px;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 300;
  font-size: 18px;
  transition: all 150ms ease;
  margin: 0 10px 53px 10px;

  .plant-pic {
    max-height: 170px;
  }

  h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: $card-title;
    align-self: flex-start;
  }

  .line {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .options {
      display: flex;

      svg {
        max-height: 23px;
        width: auto;
      }

      .option:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

.card-plant:hover {
  box-shadow: 0px 28px 38px $grey-shadow;
  z-index: 1;
}

@media only screen and (max-width: 800px) {
  .card-plant {
    margin: 0 30px 30px 30px;
  }
}
