@import "../../styles/colours.scss";

.card {
  background: $card-background;
  display: flex;
  border-radius: 5px;
  align-items: center;
}

@media only screen and (max-width: 722px) {
  .card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
