// APPLICATION
$green: #15573f;
$darkgreen: #0c261c;
$lightgreen: #7baf9e;
$coral: #fd9872;
$darkgrey: #6e6e6e;
$lightgrey: #f6f6f6;
$white: #ffffff;

// BACKGROUND
$grey-background: $lightgrey;
$white-background: $lightgrey;
$btn-background: $green;
$card-background: $white;
$card-background-active-green: $lightgreen;
$card-background-active-coral: $coral;

// SHADOW
$grey-shadow: rgba(0, 0, 0, 0.09);
$coral-shadow: #f6d7cb;
$green-shadow: #c3ddd5;

// VALIDATION
$valid: $green;
$invalid: #f71d1d;

// TEXT
$body-text: $darkgrey;
$header-text-green: $darkgreen;
$header-text-darkgrey: $darkgrey;
$btn-text: $white;
$btn-text-outline: $green;
$form-text-placeholder: #d0d0d0;
$form-text-label: $darkgrey;
$form-text-active: $darkgreen;
$card-text: $darkgrey;
$card-text-active: $white;
$card-title: $green;
$price: #d6d6d6;

// BORDER
$logo-bar: #15573f;
