@import "./colours.scss";

body {
  font-family: "Montserrat", sans-serif;
  user-select: none;
  margin: 0;
}

.container {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  .logo-bar {
    width: 25px;
    height: 80%;
    position: absolute;
    left: 80px;
    top: 10%;

    .green-line {
      background: $logo-bar;
      width: 1px;
      height: calc(100% - 208px - 40px);
      transform: translate(12px, 40px);
    }
  }

  .container-inside {
    max-width: 900px;
    width: 100%;
    min-height: 100%;
    margin: 5% 0;
  }
}

.background-grey {
  background: $grey-background;
}

.background-grey {
  background: $white-background;
}

@media only screen and (max-width: 1280px) {
  .container {
    .logo-bar {
      height: 25px;
      position: absolute;
      left: 50%;
      top: 24px;
      transform: rotate(90deg);

      svg {
        transform: translate(0, calc(-50% + 12.5px));
      }
    }

    .green-line {
      display: none;
    }

    .container-inside {
      margin: calc(5% + 50px) 0 0 0;
    }
  }
}

@media only screen and (max-width: 900px) {
  .container {
    .container-inside {
      margin: calc(5% + 50px) 5% 0 5%;
    }
  }
}
