@import "../../styles/colours.scss";

.container-home {
  background-image: url(../../assets/illustrations/illustration-home.png);
  background-repeat: no-repeat;
  background-position: 80% 100%;
  justify-content: flex-start;

  .container-inside-home {
    max-width: 440px;
    width: 100%;
    min-height: 100%;
    margin-left: 10%;

    .logo {
      margin-top: 60px;
    }

    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 66px;
      font-weight: 700;
      color: $header-text-green;
      margin: 30% 0 10% 0;
    }
  }
}
